#container-atendentes{
    
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    
    align-items: flex-start;
    /* justify-content: space-between; */
    margin-top: 60px;
}

aside{
    width: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px;
    padding-top: 24px;
    margin-right: 24px;
    background: #FEFEFE;
}

aside .titulo{
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 43px;
}

aside .form-input{
    width: 100%;
    margin-bottom: 16px;
}

aside .two-inputs{
    display: flex;
    gap: 24px;
}

aside .button-container{
    display: flex;
    justify-content: center;
}

aside .button-container button{
    background: #2B9CDF;
    border-radius: 2px;
    
    width: 70%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 16px;
    
    font-weight: 700;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

aside .button-container button:hover{
    background-color: #6BC8FF;
}

/* main{
    display: flex;
    flex-direction: column;
} */
main .cards-container{
    flex: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

main .pagination{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 48px;
}



@media screen and (max-width: 1200px){

    main .cards-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 850px){

    #container-atendentes{
    
        flex-direction: column;
    }

    main .cards-container{
        margin: 0 auto;
        margin-top: 60px;
    }

    #atendente-card{
        width: 400px;
    }
}

@media screen and (max-width: 540px){
    aside{
        width: 300px;
    }

    #atendente-card{
        width: 300px;
    }
}