*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
}

li {
  list-style-type: none;
}

button{
  outline: none;
  border: none;
  cursor: pointer;

}
.content11{
  padding: 30px 30px;
}

/* :root{
  
} */